body{
   box-sizing:border-box;
   background-color: rgb(0,0,0,1.0);
    
}
.container{
    width:100%;
    display:flex;
    /* margin:3em 3em; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    
}
.task{
    color: white;
    margin:2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}
i{
    color:#00A5EC;
    font-size:1.5em ;
    vertical-align: middle; 
    margin-right: 0.5em;
  }
.i{
    margin:2.5em;
    cursor: pointer;
}
span{
    font-size: 1.5rem;
    color: white;
    
}
.popup{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
}
.popbox{
    width:350px;
    height:180px;
    background-color: white;
    opacity:1;
    border:3px solid green;
    border-radius: 15px;
    text-align: center;
    padding:30px;
    z-index: 15;
}

input{
    width:240px;
    height:13px;
    padding:20px;
    text-align: center;
    margin: 16px;
    border-radius:10px ;
}
.add{
    width:100px;
    padding: 8px;
    font-weight:bold ;
    font-size: large;
    margin:8px;
    background-color: red;
    color: white;
    border-radius: 20px;
}
.new{
    font-size: larger;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:pointer
}
/* .close1{
    display: none;
} */

#parent{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem;
}
#child{
    height:240px;
    width:10rem;
    border-radius: 15px;
    border: 7px solid #d41bbe;
    margin: 3em auto;
    text-align: center;
    padding:20px;
    background-color: white;
    overflow-wrap: break-word;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    font-size: large;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
div:hover{
    overflow : visible;
}
img{
    width:25px ;
    height:25px;
    /* color: #00A5EC; */
    float:right;
    margin-left: 10px;
    position:relative;
    top:9.5em;
    z-index:0;
}


.popup1{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    /* z-index:3; */
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
}
.popbox1{
    width:350px;
    height:180px;
    background-color: white;
    opacity:1;
    border-radius: 15px;
    text-align: center;
    padding:30px;
    z-index: 12;
}
.add1{
    width:100px;
    padding: 8px;
    font-weight:bold ;
    font-size: large;
    margin:8px;
    background-color: red;
    color: white;
    border-radius: 20px;
    transform : 125ms;
}
.new1{
    font-size: larger;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:pointer;
}

.text1{
    width:240px;
    height:13px;
    padding:20px;
    text-align: center;
    margin: 16px;
    border-radius:10px ;
}

#mark{
   border-radius: 20px;
   margin-left:5px;
   margin-bottom: 5px;
   background-color: #001E6C;   
   color:white;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   padding:5px;
   
}
/* .no{
    color:white;
    position:relative;
    
} */
